body {
    margin: 0;
    padding: 0;
    background-color: #222;
}

header {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 1.5em;
    color: #fff;
    margin: 0 10px;
}

h1::after {
    content: '';
    display: block;
    width: 30%;
    height: 10px;
    background-color: #ff2600;
}

.gallery {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: repeat(auto-fit, minmax(350px, 1fr));
    max-width: 90%;
    margin: 0 auto;
    padding: 2em;
}

.gallery img {
    display: block;
    width: 100%;
    height: 300px;
}